html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
}

:root {
	/* --calcite-color-text-1: #f8f9fa; */
	/* --calcite-color-text-2: #3c83b7; */
	--calcite-color-text-3: #3c83b7;
	/* --calcite-shell-panel-background-color: rgb(118, 133, 116);  */
}

/* Make panel a flex container with horizontal layout */
#base {
	display: flex;
	height: 100%;
	width: 100%;
}

/* Left container (legend) - fixed or auto width */
#toolcontainer {
	display: flex;
	flex-direction: column;
	min-width: 250px;

	/* background-color: rgb(118, 133, 116);  */
}

#toolcontainer:hover {
	background-color: rgb(118, 133, 116);
}

/* Right container (map) - flex to fill remaining space */
#mapcontainer {
	flex-direction: column;
	display: flex;
	width: 100%;
}
