html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
}

:root {
	--calcite-color-text-1: #3c83b7;
	--calcite-color-text-2: #3c83b7;
	--calcite-color-text-3: #3c83b7;
	--calcite-shell-panel-background-color: #e6800d;
}

calcite-chip {
	--calcite-chip-background-color: #ebc395;
	--calcite-chip-text-color: #20218b;
}

/* Make panel a flex container with horizontal layout */
#base {
	display: flex;
	height: 100%;
	width: 100%;
}

/* Left container (legend) - fixed or auto width */
#toolcontainer {
	display: flex;
	flex-direction: column;
	min-width: 250px;
	border: 2px solid transparent; /* always take up space */

}

#toolcontainer:hover {
	border: 2px solid #e6800d;
}

/* Right container (map) - flex to fill remaining space */
#mapcontainer {
	flex-direction: column;
	display: flex;
	width: 100%;
}
