/* Esri Developer & Technology Summit Demo Template */
/* Demo template supporting styles */

html,
body {
  margin: 0;
  height: 100%;

}

calcite-menu-item {
  --calcite-menu-background-color: var(--calcite-color-background);
}
calcite-navigation-logo {
  --calcite-navigation-logo-heading-color: var(--calcite-color-background);
}
calcite-shell-panel[slot="panel-start"] calcite-panel {
  border-top: 0;
}
calcite-action-pad {
  margin-inline-end: 0.5rem;
}

/* Esri Developer & Technology Summit Demo Template */
/* App-specific supporting styles below */

.grid-container {
  margin: 1rem;
  height: 100%;
  max-height: calc(100% - 64px);
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: minmax(23rem, 0.7fr) 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.85fr;
  gap: 1rem 1rem;
  grid-template-areas:
    /* "panel-start panel-map panel-map panel-chart-1"
    "panel-start panel-map panel-map panel-chart-2" */
    "panel-start panel-map panel-map panel-map"
    "panel-start panel-map panel-map panel-map"
    /* "panel-start panel-map panel-map panel-map" */
    "panel-start panel-chart-1 panel-chart-2 panel-chart-3";
}
.panel-map {
  grid-area: panel-map;
}
.panel-chart-1 {
  grid-area: panel-chart-1;
}
.panel-chart-2 {
  grid-area: panel-chart-2;
}
.panel-info {
  grid-area: panel-info;
}
.panel-info-2 {
  grid-area: panel-info-2;
}
arcgis-charts-bar-chart {
  width: 100%;
  height: 200px;
}
.panel-start {
  grid-area: panel-start;
}
.grid-container calcite-panel {
  box-shadow: var(--calcite-shadow-sm);
}
calcite-panel {
  border-block-start: 0;
}
calcite-shell {
  background-color: var(--calcite-color-background);
}

/* Esri Developer & Technology Summit Demo Template */
/* Custom styles below */


body {
  --calcite-panel-background-color: #00919b0a;
  --calcite-panel-header-background-color: #009ba654;
  --calcite-panel-corner-radius: 10px;
  --calcite-navigation-background-color: #00909b;
  --calcite-navigation-border-color: #f1a406;
  --calcite-navigation-logo-heading-text-color: #ffffff;
  --calcite-navigation-logo-text-color: #ffffff;
}

calcite-navigation {
  --calcite-action-background-color: #00909b;
  --calcite-action-text-color: #ffffff;
}

#toggle-selection[active] {
  --calcite-action-background-color: #017f88;
  --calcite-action-text-color: #ffffff;
}